html {
  font-family: 'Open Sans';
}

.appContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  max-height: 100vh;
}
.displayNone{ 
  display: none;
}
body{
  margin: 0;
}
.headerContainer {
  width: 100%;
  /* background: linear-gradient(to bottom, rgb(185, 235, 255), rgb(148, 201, 223)); */
  background-color: antiquewhite;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* max-height: 10vh; */
  /* height: 10vh; */
  box-sizing: border-box;
  flex-wrap: wrap;
  
}

.headerImageContainer {
  max-width: 80%;
  min-width: 80%;
  width: 80%;
  max-height: 100%;
  height: auto;
  display: flex;
  justify-content: left;
  align-items: center;
  box-sizing: border-box;
  padding-left: 2%;
}

.headerImage {
  height: auto;
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
}



@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v34/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsjZ0B4gaVI.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.headerSubtitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 5%;
  margin-right: 5%;
  font-size: 120%;
}
.headerMenuContainer{
  all: unset;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: right;
  min-width: 20%;
  width: 20%;
  height: 40%;
  box-sizing: border-box;
  padding-right: 2%;  
}

.menuIcon {
  height: auto;
  max-height: 3vh;
   width: auto;
  align-self: center;
}
.menuIcon path{
  fill: rgb(16, 16, 75);
}
.menuNavigationContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 120%;
}

.menuSectionItem:hover{
  background: rgb(201, 201, 201);
  cursor: pointer;
}

.menuSectionItemSelected {
  background: rgb(201, 201, 201);
}
.appContentContainer {
  overflow: auto;
}
.dropdown{
  margin-right: 2%;
  width: 100%;
  justify-content: right;
  align-items: right;
  text-align: right;
}