html {
  font-family: 'Open Sans';
  scroll-behavior: smooth;
}

:root {
  --headerColor: rgb(231, 240, 250);
  --headerHoverColor: rgb(224, 234, 245);
  --footerColor: rgb(196, 215, 235);
  --menuIconColor: rgb(5, 72, 127);
}

.appContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  background: #f3f9ff;
}
.appContainerClosed {
  min-height: 100vh;
}



body {
  margin: 0;
}

.headerContainer {
  width: 100%;
  background-color: var(--headerColor);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  position: sticky ;
  top: 0;
  /* This prevents some issues with the arrows in the products page */
  z-index: 1; 

}

.menuSectionContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.headerImageContainer {
  max-width: 80%;
  /* min-width: 80%; */
  /* width: 80%; */
  height: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  box-sizing: border-box;
  padding-left: 2%;
}


.headerImage {
  max-height: 200px;
  max-width: 100%;
  height: 100%;
  object-fit: contain;
  padding: 0.5%;
  box-sizing: border-box;
}



@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v34/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsjZ0B4gaVI.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.headerMenuContainer {
  all: unset;
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-width: 20%;
  width: 20%;
  box-sizing: border-box;
  height: 100%;
}

.menuIcon {
  height: auto;
  max-height: 35px;
  width: auto;
  align-self: center;
  cursor: pointer;
}

@media screen and (max-height: 800px) {
  .menuIcon {
    max-height: 25px;
  }
}

@media screen and (min-height: 800px) {
  .headerImage {
    max-height: 150px;
  }
}
@media screen and (min-width: 1024px){
  .headerMenuContainer{
    display: none;
  }

  
}
@media screen and (max-width: 1023px){
  .headerBarContainer{
    display: none !important;
  }
  .displayOpenMenu {
    display: none !important;
  }

}

.menuIcon path {
  fill: #05487F;
}

.menuIcon:hover path {
  background: rgb(150, 150, 150);
}
.appContentContainer {
  /* overflow: auto; */
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footerContainer{
  width: 100%;
  background-color: var(--headerColor);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  margin-top: auto;
  padding: 1%;
}
.dropdown {
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  background-color: var(--headerColor);
  z-index: -1;
  position: absolute;
  height: 100vh;
  top: 0;
}

.dropdownMain {
  width: 100%;
}

.dropdownOpen,
.menuContainerOpen {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease-out, transform 0.3s ease-out;

}

.dropdownClosed,
.menuContainerClosed {
  opacity: 0;
  transition: opacity 0.3s ease-in, transform 0.3s ease-in;
}

.menuContainer {
  padding-top: 2%;
  padding-bottom: 2%;
}

.menuItemButton{
  all: unset;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  font-size: 130%;
}
.menuItemButton a{
  text-decoration: none;
}

.linkText{
  all: unset;
  color:rgb(0, 0, 0);
  text-decoration: none;
  cursor: pointer;
}

.menuItemButton .linkText:hover,
.menuItemSelected {
  font-weight: bold;
}


.page {
  margin-top: 2%;
  /* max-width: 768px; */
  flex-grow: 1;
}

.pageTitle {
  font-size: 200%;
  font-weight: bold;
  text-align: center;
  margin-bottom: 2%;
  width: 100%;
}
.pageSubtitle{
  font-size: 150%;
  font-weight: bold;
  text-align: center;
  margin-bottom: 2%;
  width: 100%;
}

.productsContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  flex-wrap: wrap;
  max-width: 1200px;
  
}
.productContainerOpen, .productContainerClosed {
  outline: 1px solid #4f718d;
}

.productContainerClosed {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 99%;
  height: 100%;
  box-sizing: border-box;
  padding-left: 1%;
  padding-right: 1%;
  margin: 2%;
  border-radius: 5px;
  flex-wrap: wrap;
  background-color: var(--headerColor);
  max-width: 320px;
}

.productContainerClosed:hover {
  background-color: var(--headerColor);
  font-weight: bold;
  border-radius: 5px;
  box-sizing: border-box;
  cursor: pointer;
}

.productContainerOpen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 99%;
  height: 100%;
  box-sizing: border-box;
  padding-left: 1%;
  padding-right: 1%;
  margin: 2%;
  background-color: var(--headerColor);
  border-radius: 5px;
  
}

.seeLessContainer {
  margin-top: 2%;
  margin-bottom: 2%;
  width: 50%;
  height: 100%;
  box-sizing: border-box;
  font-size: 120%;
  text-align: center;
  color: var(--menuIconColor);
  cursor: pointer;
  display: inline-block;
  font-size: 100%;
}
.seeLessContainer:hover{
  font-weight: bold;
}
.productContainerOpen button:hover {

  box-sizing: border-box;
  cursor: pointer;
  background-color: var(--headerHoverColor);

}

.productContainerOpen .productImageContainer {
  max-width: 100%;
  display: flex;
}

.productContainerOpen .productName {
  font-size: 120%;
  font-weight: bold;
  text-align: center;
  margin-bottom: 2%;
}

.productImageContainer {
  max-width: 30%;
  display: flex;
}

.productImage {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  padding-top: 2%;
  padding-bottom: 2%;
  border-radius: 5px;
}

.productName {
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: right;
  text-align: right;
  max-width: 50%;
  padding: 1%;
  width: 100%;
  height: 100%;
  font-size: 120%;

  font-weight: bold;

}

.menuBreak {
  width: 15%;
  margin-top: 1%;
  margin-bottom: 1%;
  height: 1px;
  background-color: rgb(0, 0, 0);
}

.contactInfo{
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  width: 100%;
  list-style-type: none;
  padding: 0;
}

.arrow {
  border: solid var(--menuIconColor);
  border-width: 0 3px 3px 0;
  padding: 3px;
  display: inline-block;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.showMoreContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: var(--menuIconColor);
  min-width: 100%;
  padding: 2%;
  box-sizing: border-box;
}
.footerContactContainer a{
  text-decoration: none;
}
.headerBarContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  background-color: var(--headerColor);
  padding: 1%;
  /* margin-bottom: 2%; */
  border-radius: 5px;
  

}



.pageEnter {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 500ms, transform 500ms;
}

